* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

heart {
  display: inline-block;
  font-size: 12px;
  transition: 0.5s;
  cursor: grab;
}

heart:hover {
  font-size: 50px;
  margin-inline: 15px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  perspective: 800px;
}

@keyframes CardFrame {
  0% {border-radius: 70px 15px 70px 15px;box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px;}
  20% {border-radius: 70px 15px 70px 15px;box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px;}
  50% {border-radius: 70px 15px 70px 15px;box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px;}
  75% {border-radius: 70px 15px 70px 15px;}
  100% {}
}

.Card {
  user-select: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  transition: ease 0.1s;
  animation: CardFrame 2s ease-in-out;
  animation-timing-function: forwards;
  border-radius: 15px 70px 15px 70px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px;
}

.App-header {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.App-about {
  margin: auto;
  width: fit-content;
  font-size: 14px;
}

.App-footer {
  padding-top: 15px;
  margin: auto;
  text-align: center;
  width: fit-content;  
  bottom: 0px; 
}

.pp_logo {
  width: 200px;
  border-radius: 100%;
  border-width: 3px;
  box-shadow: #000000 0px 0px 10px;
  transition: ease 0.2s;
}

.pp_logo:hover {
  box-shadow: #000000 0px 0px 15px;
  scale: 1.05;
}

.username {
  margin: 10px;
  font-size: 38px;
  font-weight: normal;
  text-align: center;
  padding: 5px;
}

.aka {
  color:rgb(150, 150, 150);
  font-size: 16px;
  font-weight: bold;
}

.soundcloud {
  border-radius: 15px;
  border: #797979 dotted 2px;
}

.text-info {
  text-align: center;
  font-size: 16px;
}

.socials {
  text-align: center;
  padding-top: 6px;
}

.ul-padding {
  padding-top: 10px;
}

.padding-inline {
  position: relative;
  display: inline-block;
  padding-inline: 20px;
  top: 0;
  left: 0;
  transition: ease 0.2s;
  transform: rotate(0deg);
  font-size: 30px;
}

.padding-inline:hover {
  top: -5px;
  left: 2px;
  transform: rotate(10deg);
  max-width: 280px;
  scale: 1.4;
}

.li-element {
  padding: 3px;
  list-style: none;
}

.p-footer {
  font-weight: bold;
  font-size: 12px;
  color:rgb(90, 90, 90);  
}

.switch {
  position: relative;
  top: -15px;
  left: -15px;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: rgb(42, 219, 190);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
} 